:root {
    --primary: #A5C882;
    --secondary: #D33F49;
    --light: #fff;
    --dark: #000;
    --diabled: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}
html{
	background: var(--diabled);
	
}
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: var(--diabled);
}

*:first-letter {
    text-transform: capitalize;
}

.roundBorder {
    border-radius: 5px;
}

.list {
    margin: 25px auto;
    padding: 25px;
    background-color: var(--light);
    width: 100%;
    max-width: 350px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dateRight {
    display: flex;
    align-items: center;
}
#dateNumber{
	font-size: 50px;
}
#dateText{
	letter-spacing: 3px;
	text-transform: uppercase;
}
#dateMonth,
#dateNumber,
#dateText{
	font-weight: bold;
}
#dateMonth,
#dateYear{
	margin-left: 7px;
	font-size: 20px;
}
form{
	margin: 20px 0;
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: auto 35px auto;
	grid-column-gap: 15px;
}
input{
	border: none;
	padding-left: 10px;
	background-color: var(--diabled);
}
input:focus{
	outline: none;
}
.addTaskButton,
.orderButton{
	border: none;
	font-weight: bolder;
	cursor: pointer;
}
.addTaskButton{
	height: 35px;
	border-radius: 50%;
	font-size: 18px;
	background-color: var(--diabled);
}
.orderButton{
	background-color: var(--secondary);
	color: var(--light);
}
.task{
	background-color: var(--primary);
	padding: 15px;
	margin-top: 15px;
	color: var(--light);
	cursor: pointer;
}
.done{
	background-color: var(--diabled);
	text-decoration: line-through;
	color: var(--dark);
}
@media screen and (max-width:480px) {
	.date {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	.dateRight {
		display: flex;
		align-items: center;
	}
	#dateNumber{
		font-size: 30px;
	}
	#dateText{
		letter-spacing: 3px;
		text-transform: uppercase;
		font-size: .8rem;
	}
	
	#dateMonth,
	#dateYear{
		margin-left: 7px;
		font-size: 10px;
	}
	.list {
		margin: 20% auto;
		padding: 10px;
		background-color: var(--light);
		width: 80%;
	}
	form{
		margin: 20px 0;
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: auto 25px auto;
		grid-column-gap: 2px;
	}
	input.roundBorder{
		width: 100px;
	}
	.task{
		font-size: .7rem;
	}
}

